header{
    background-color: aliceblue;
    padding: 20px 0;
}
nav li{
    display: inline;
    margin: 0% 0% 15%;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
   
}
nav a:hover{
    color: brown;
    text-decoration: underline;
}
nav {
    position: absolute;
    top: 110px;
    right: 0%;
    
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /*border-color: black;
    border-width: 2px;
    border-style: solid;*/
    border: 2px solid black;
    /*border-radius: 10px 25px 40px 50px;*/
    border-radius: 10px;
}

.productos li:hover{
   border-color: brown;
}

/*cuando suceda algo hover aplicar en el h2*/
.productos li:hover h2{
font-size: 33px;
}

/*cambiar el color cuando el producto esta activo*/
.productos li:active{
    border-color: aqua;
}
/*hover, cuando el usuario pasa el cursor sobre el elemento.
active, cuando un elemento está siendo activado por el usuario.*/
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.producto-descripcion{
font-size: 18px;
}
.producto-precio{
font-size: 20px;
font-weight: bold;
margin-top: 18px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
color: white;
font-size: 13px;
margin: 20px;
}